/*generic code*/
*{
    margin: 0;
    position: relative;
}
a{
    text-decoration: none;
}
/*header area*/
header{
    display: flex;
    
}
/*logo*/
#logo{
    width: 50%;
    height: 7vh;
    position: relative;
}
#logo a{
    text-align: center;
    
}
.logo{
    font-size: 50px;
    font-family: impact;
    margin-left: 55px;
    padding-top: .5vh;
}
#l1{
    color:#ff0000;
}
#l2{
    color:#00ff00;
}
/*nav/links*/
#links{
    width: 50%;
    height: 7vh;
    position: relative;

  
}
ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;

    height: 100%;

}
li{
    display: block;
    padding-top: 2vh;
}
.li{
    color: #000;
    text-decoration: none;
    margin-left: 50px;
    font-size: 25px;
    font-family: verdana;
    
 
}
/*end of header area*/
/*start of home body*/
#home{
    background-color: #e0e0e0;
    background-image: url(../images/restaurant_icons.png);
    background-repeat: repeat;
    width:100%;
    min-height: 93vh;
    height: fit-content;
    display: flex;
}

/*home content*/
#home-holder{
    width: 100%;
    display: flex;
    padding-top: 5%;
    height: 600px;
    height: fit-content;
    justify-content: space-evenly;

}
/*body text*/

#home-text{
    width: 30%;
    display: flex;
    flex-direction: column;
}
.title{
    font-size: 120px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900; 
}

.ipsum{
    word-wrap: break-word;
    padding-top: 20px;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#browse{
    height: 10%;
    color:#e0e0e0;
    padding-top: 20px;

}
.link3{
    font-size:20px;
    color: #111111;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    letter-spacing: 5px;
}
/*image body*/
.homey{
    width: 20%;
}
.image{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}
.group{
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100%;
}
.empty-space{
    height: 83%;
    width: max-content;
}
.space-empty{
    width: 80%;
}
.fo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
}
/*adjective*/

.tag-flex{
    display: flex;
    width: 100%;
}
.tag{
    background-color: #fff;
    font-size: 30px;
    width: fit-content;
    padding: 10px 15px;
    
}
/*food*/
.food-flex{
    width: 100%;
    display: flex;
}

.food{
    background-color:lime;
    width: fit-content;
    font-size: 30px;
    padding:10px 15px;
    padding-left: 50px;
}

